%section#about{:style=> "background: #f5f5f5"}
  .container-fluid
    / Title & Divider
    .row.wow.fadeInDown{:style => "visibility: visibles; animation-name: fadeInDown;"}
      .col-md-8.col-md-offset-2.text-center
        %i
          %h2 Contact Us
        .col-md-12.grid-contact
          %h3.text-center{:style=>"color: red;"} Our Outlets
          %a.clgroad{href: "#"}
            %p Shop No. 1, Vishva Apartment, College Road, Near Bank of Hydrabad, Thatte Nagar, Kulkarni Baug, Nashik, Maharashtra 422005.
            %p Mobile Number - Hanumant Khandagale +91-9922816000, Manoj Avhad +91-8237419727
            %p Email - hanumant72@yahoo.com, manojavhad2003@hotmail.com
          %hr
          %a.ccd{href: "#"}
            %p Global Hospitality, FC-3(Food Court) City Centre Mall, Lawate Nagar, Untwadi Road, Nashik, Maharashtra 422002.
            %p Mobile Number - Hanumant Khandagale +91-9922816000, Manoj Avhad +91-8237419727
            %p Email - manojavhad2003@hotmail.com, hanumant72@yahoo.com
%section{:style => "padding:0;"}
  .col-md-12{:style => "padding:0"}
    %div#clgroad
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3749.043141186686!2d73.76138231510227!3d20.006703986560886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bddeb9bba1a7acb%3A0xca74fbf6a9d6185c!2sMad+Over+Chicken!5e0!3m2!1sen!2sin!4v1483340655336", :style => "border:0", :width => "100%"}
    %div#ccd{style: "display: none;"}
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29796.91612817023!2d73.7568456743658!3d20.00641521795191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3b2fa358a356be7!2sNashik+City+Centre+Mall!5e0!3m2!1sen!2s!4v1504336523791", :style => "border:0", :width => "100%"}  
.clearfix
:javascript
  $(".ccd").on('click', function () {
    $('#ccd').show();
    $('#clgroad').hide();
  });
  $(".clgroad").on('click', function () {
    $('#ccd').hide();
    $('#clgroad').show();
  });