%main.mdl-layout__content.mdl-color--grey-100.page.ng-scope
  %section.menus
    .eventDetailSection.relative.clear
      .mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.p-t-75.spacingTop
        .p-40.ml-card-holder
          .mdl-card.mdl-color--grey-100
            .p-b-40.p-r-40.p-l-40
              = render :partial => 'form'
