%section.menu
  %div
    .col-md-3.menu-holder{:style => "background: rgba(34, 2, 0, 0.89);"}
      %h2.text-center{:style => "padding-top:80px;"} Filters
      %ul.list-inline{:style => "list-style:none; padding:0;    text-align: center;"}
        %li.veg
          %label
            %input{:type => "checkbox"}/
            Veg
        %li.non-veg
          %label
            %input{:type => "checkbox"}/
            Non Veg
      %hr/
      %ul{:style => "list-style:none; padding:0;"}
        %li
          %label
            %input{:type => "checkbox"}/
            Chicken
        %li
          %label
            %input{:type => "checkbox"}/
            Rice  
        %li
          %label
            %input{:type => "checkbox"}/
            Drinks
        %li
          %label
            %input{:type => "checkbox"}/
            Burgers
    .col-md-9.menu-holder
      %i
        %h2.text-center{:style=>"margin-top:-42px;margin-bottom: 25px;"} Our Products
      - @prodcuts.each do |p|
        .col-md-4.col-sm-4.grid{:style=> "margin-bottom: 25px;"}
          / Menu header
          .menu-head
            %a.btn.btn-checkout{:href => product_detail_home_path(p.id)}
              %img.menu-img.img-responsive.img-thumbnail{:alt => "", :src => "/assets/burger.jpg"}/
            %h3.text-limit-head #{p.product_name}
            %p.small.text-limit-desc #{p.product_description}
            / %select.form-control.qty
            /   %option 1
            /   %option 2
            /   %option 30
            %p.price
              %i.fa.fa-inr>
              #{p.price}/-
          / Menu item details
          .menu-details.menu-detailss
            / Menu list
            %a.btn.btn-checkout{:href => cart_path(:product=>p.id, :add_to_cart => true)}
              %i.fa.fa-plus>
                Add to cart
            %a.btn.btn-order.pull-right{:href => cart_path(:product=>p.id)}
              %i.fa.fa-shopping-basket{"aria-hidden" => "true"}
                Order Now
          / / Menu details end
    .clearfix
