%div{:class => "hideDiv"}
  - if @product.id.present?
    %br
    %br
  .row.questionSelect
    .inputCnt.questionInput.col-lg-12
      %label.col-lg-4.control-label.ml-color--shades-white
        Upload Image *
      .col-lg-7
        %i.arrow.single
        = f.file_field :image, :class => 'uploadcatimage'
      = link_to "X", "javascript:void(0)", :onclick => "remove_must_do_fields(this)"
  .clear
