@charset "UTF-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Varela+Round';
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  overflow-y: auto;
}
a {

}
.login-box-body, .register-box-body {
  border-radius: 4px;
}
li.new-launch a {
  background: #03A9F4;
  color: #fff!important;
  font-weight: bold;
  border-bottom: 2px #233446 solid;
}
li.new-launch a:hover {
   background: #8BC34A!important;
}
.btn-primary {
  background-color: #607D8B;
  border-color: #607D8B;
  border-radius: 4px!important;
}
.home-alert{display: table;
  margin: auto;
  background-color: #edf3ff!important;
  padding: 8px 10px;
  color: #F44336!important;
  font-size: 15px;
  border: 1px dashed;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover, .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary.focus, .btn-primary:focus {
  background-color: #10516f;
  border-color: #10516f;
  outline: 0;
}
.btn-success {
  border-radius: 3px!important;
  float: right;
}
.navbar-nav>.user-menu>.dropdown-menu {
  width: 320px;
}
.btn {
  padding: 6px 8px;
}
.skin-blue .main-header .navbar {
  background-color: #fff;
      border-bottom: 1px solid #dfdfdf;
      border-left: 1px solid #dfdfdf;
      -webkit-box-shadow: 6px -1px 19px -6px #000;
      -moz-box-shadow: 6px -1px 19px -6px #000;
    box-shadow: 6px -1px 19px -6px #000;
}
.main-header .logo {
  padding: 2px;
}
.skin-blue .main-header .logo {
  background-color: #fff;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #fff;
}
.main-header .logo {
  padding: 2px 10px;
  height: 64px;
}
.main-header .logo .logo-mini {
  padding: 5px 15px;
}
.main-sidebar, .left-side {
  padding-top: 70px;
}
.fixed .content-wrapper, .fixed .right-side {
  padding-top: 70px;
}
.main-header .sidebar-toggle {
  padding: 22px 15px;

}
.skin-blue .main-header .navbar .sidebar-toggle{color: #000;}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a{color: #000;}
.skin-blue .main-header li.user-header {
  background-color: #233446;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
  color: #fff;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #000;
  font-weight: 600;/* letter-spacing: 1px; */
}
.box.box-primary {
  border-top-color: #607D8B;
}
.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #c5c5c5;
}
.content-wrapper, .right-side {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
  background: image-url('grid_noise.png') repeat;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #233446;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
     color: #d7edff;
    background: #0d1215;
    border-left-color: #03A9F4;
}
.skin-blue .sidebar-menu > li.header {
  letter-spacing: 3px;
  padding: 4px 25px 4px 15px;
}
.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  border: 1px solid #dfdfdf;
}
.btn:focus {
  outline: none!important;
}
.range_inputs .btn-success {
  margin-top: 0;
}
.table>tbody>tr>td,  {
  border: 1px solid #dfdfdf;
  margin-left: -1px;
  padding: 6px;
}
.table>tbody>tr>th, .table>thead>tr>th  {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
  border: 1px solid #dfdfdf!important;
  padding: 6px;
    vertical-align: middle;
}
tbody>tr>td {
    border: 1px solid #dfdfdf;
}
th {
  text-align: left;
  font-weight: 600;
}
.lead-detail>tbody>tr>th {
  text-align: right;
  vertical-align: middle;
}
.label-int {
  color: #727272;
}
.label-int .label {
  display: table;
  padding: 20px;
  font-size: 100%;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 1.25em;
  margin: auto;
  width: 30px;
  height: 30px;
}
.label-success {
  background-color: #8bc34a !important;
}
.label-int:hover {
  color: #f58634;
}
.label-int:hover .label-success {
  background-color: #f58634 !important;
}
@media (min-width: 768px) {
.navbar-nav>li>a {
  padding-top: 22px;
  padding-bottom: 22px;
}
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 8px;
}
div#adv-searchbox {
    background: #f7f7f7;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
  display: none;
}
.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 11px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #F44336;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
}
.dropdown-menu {
  min-width: 220px;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
  background: #a3de5f;
}
.lead {
  margin-bottom: 5px;
  margin-top: 10px;
}
.match-search {
  border: 1px solid #dfdfdf;
}
.box-header.box-primary {
      background: #fbfbfb;
    color: #fff;
    border-top: 0!important;
}
.add-lead-panel .multiselect, .add-lead-panel .styled-select .btn-group, .add-lead-panel .btn-default {
  width: 100%!important;
  background: #fff;
  text-align: left;
}

.top-main1 .multiselect, .top-main1 .btn-group, .top-main1  .btn-default {
  width: 100%!important;
  background: #fff;
  text-align: left;
}

table.dataTable thead > tr > th {
  padding-right: 10px;background: #f9f9f9;
    /* color: #fff; */
    border: 1px solid #dfdfdf;
}

.enq-create-lead{background: #fff;
    padding: 10px;
    border: 1px solid #dfdfdf; }
  .enq-create-lead .btn-group, .enq-create-lead .multiselect, .enq-create-lead .btn-default, .report-stat .btn-group, .report-stat .multiselect, .report-stat .btn-default{
    width: 100%!important;
    background: #fff;text-align: left;
}
.multiselect-container>li>a>label{    padding: 3px 20px 3px 15px;}

.multiselect-container>li>a {
    padding: 6px 15px;
}
.radio-inline label{font-weight:500;}
.custom-group {    width: 100%;}
.custom-group .form-control{
   width:50%;
}
.addimages a{ background: #dfdfdf;
              border: 1px solid #d0d0d0;
              text-transform: uppercase;
              padding: 5px 10px;
              color: #000;
              border-radius: 4px;}
.table-project th{text-align: right!important;
    width: 30%; background: #f5f5f5!important;}
    .box-default {
    background: #fff;
    padding: 10px 0;
}
.table-project td{text-align: left;}

.thumbimage {
    background: #fff;
    border: 1px solid #dfdfdf;
    width: 160px;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
}
.thumbimage img{text-align: center;width: 100%; object-fit: cover;}
.thumbimage label{text-align: left; color:#000; padding: 5px; background: #dfdfdf; display: block;font-weight: normal;margin: 0;}
.ct-pag{display:table; margin:auto;}
.ct-pag a{    padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #f58634;
  text-decoration: none;
  background-color: #f3f5f7;}
em.current{padding: 6px 12px;
  border: 1px solid #dfdfdf;
  background: #f58634;
  color: #fff;}
  .previous_page{padding: 6px 12px;
  border: 1px solid #dfdfdf;
  background: #dfdfdf;
  color: #666;}

  #lead_visited {
   width: 100%;
  }
.navbar-nav > .user-menu > .dropdown-menu > .user-footer{background: #fff;}
.login-logo, .register-logo{    background: #fff; margin-bottom: 0;}
.btn-warning {
    color: #fff;
    background-color: #607D8B;
    border-color: #607D8B;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus,.btn-warning:active:hover {
    color: #fff;
    background-color: #2e5365;
    border-color: #2e5365;
}
.skin-blue .sidebar-menu > li > .treeview-menu{background: #172431;}



.holder-landing {
    display: table;
    margin: auto;
    list-style: none;
}

.holder-landing li {
    margin-left: 10px;
    float: left;
}

span.titlelanding {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    
    margin-top: 8px;
}

.holder-landing li a {
    display: block;
}

.new-launch-holder,
.crm-holder,
.syndicate-network {
    width: 160px;
    background: #47616d;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.new-launch-holder .titlelanding,
.crm-holder .titlelanding{    margin: 17px 0px;}

.new-launch-holder:hover {
    background: #8BC34A;
}

.crm-holder:hover {
    background: #E91E63;
}

.syndicate-network:hover {
    background: #FF9800
}