%footer
  .container-fluid
    .pull-right
      %span.small Copyright © 2017 mocrock. All Rights Reserved.
      %span.small
    %ul.list-inline
      %li
        %a{:href => ""} Home
      / %li
      /   %a{:href => ""} About
      %li
        %a{:href => ""} How it Works
      %li
        %a{:href => ""} Menu
      %li
        %a{:href => ""} Terms &amp; Conditions
      / %li
      /   %a{:href => ""} Contact Us
    .clearfix
  .clearfix
